# ===================================================================
# Spring Boot configuration for the "dev" profile.
#
# This configuration overrides the application.yml file.
#
# More information on profiles: https://www.jhipster.tech/profiles/
# More information on configuration properties: https://www.jhipster.tech/common-application-properties/
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

logging:
  level:
    ROOT: DEBUG
    tech.jhipster: DEBUG
    org.hibernate.SQL: DEBUG
    gov.moda.dw.issuer.oidvci: DEBUG

spring:
  devtools:
    restart:
      enabled: true
      additional-exclude: static/**
    livereload:
      enabled: false # we use Webpack dev server + BrowserSync for livereload
  jackson:
    serialization:
      indent-output: true
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://10.170.3.1:5432/modadw_sandbox?currentSchema=vc&ssl=true&sslmode=verify-ca&sslrootcert=/workspace/postgresql-sslcerts/rootCA.crt&sslcert=/workspace/postgresql-sslcerts/client.crt&sslkey=/workspace/postgresql-sslcerts/client.p8}
    username: ${SPRING_DATASOURCE_USERNAME:modadw_sandbox}
    password: ${SPRING_DATASOURCE_PASSWORD:1qaz@WSX3edc}
    hikari:
      poolName: Hikari
      auto-commit: false
  liquibase:
    # Remove 'faker' if you do not want the sample data to be loaded automatically
    contexts: dev, faker
  mail:
    host: localhost
    port: 25
    username:
    password:
  messages:
    cache-duration: PT1S # 1 second, see the ISO 8601 standard
  thymeleaf:
    cache: false

server:
  port: 8080
#===============================================
#chrisky config
chrisky:
  proxy:
    use: false
    host: 10.160.3.88
    port: 8080
  ssl: true
#===============================================

# ===================================================================
# JHipster specific properties
#
# Full reference is available at: https://www.jhipster.tech/common-application-properties/
# ===================================================================

jhipster:
  # CORS is only enabled by default with the "dev" profile
  cors:
    # Allow Ionic for JHipster by default (* no longer allowed in Spring Boot 2.4+)
    allowed-origins: 'http://localhost:8080,http://localhost:8100,https://localhost:8100,http://localhost:9000,https://localhost:9000,http://issuer.demo.modadw.dev.webe.hinet.services,https://issuer.demo.modadw.dev.webe.hinet.services,https://issuermgr.service.modadw.dev.webe.hinet.services/,http://issuermgr.service.modadw.dev.webe.hinet.services/'
    # Enable CORS when running in GitHub Codespaces
    allowed-origin-patterns: 'https://*.githubpreview.dev'
    allowed-methods: '*'
    allowed-headers: '*'
    exposed-headers: 'Authorization,Link,X-Total-Count,X-${jhipster.clientApp.name}-alert,X-${jhipster.clientApp.name}-error,X-${jhipster.clientApp.name}-params'
    allow-credentials: true
    max-age: 1800
  security:
    authentication:
      jwt:
        # This token must be encoded using Base64 and be at least 256 bits long (you can type `openssl rand -base64 64` on your command line to generate a 512 bits one)
        base64-secret: OThmMjYxMWU0ZGQ0MjllZDIwZTRjNjU5ZGRmNTcyNWUxOTIyYmIxZDgzZWNlNmQ3YjBlM2IwYTBmMzMxNDFjYTJlMzNiNjE2ZGI0YWI4OTRlNjlhZTFhNTM2NjkwNWMwMmZiNTliNjcwOTFkY2RiM2FjZWU5ODE0ZmIzNTVjYjE=
        # Token is valid 24 hours
        token-validity-in-seconds: 86400
        token-validity-in-seconds-for-remember-me: 2592000
  mail: # specific JHipster mail property, for standard properties see MailProperties
    base-url: http://127.0.0.1:8080
  logging:
    use-json-format: false # By default, logs are not in Json format
    logstash: # Forward logs to logstash over a socket, used by LoggingConfiguration
      enabled: false
      host: localhost
      port: 5000
      ring-buffer-size: 512
# ===================================================================
# Application specific properties
# Add your own application properties here, see the ApplicationProperties class
# to have type-safe configuration, like in the JHipsterProperties above
#
# More documentation is available at:
# https://www.jhipster.tech/common-application-properties/
# ===================================================================

# application:

ap:
  account:
    username: ${AP_ACCOUNT_USERNAME:nosyourdocm@gmail.com}
    password: ${AP_ACCOUNT_PASSWORD:4aed9a1114dd15b0099a971c47bdc795d86dbc057ff86e6a5d1abec021d80f477783fa38dd707e8fc2f11c4395989d2ef6eed392c661dc2a42ff766a10f66508}
