variables:
  - group: variable-group-for-fortify-scan
  - name: projectName
    value: moda-digitalwallet
  - name: sysCd
    value: $(Build.Repository.Name)
  - name: package
    value: jar
  - name: jdkVersion
    value: 17
  - name: fortifyVersion
    value: 24.4.0
  - name: rulepackVersion
    value: 2025.1.0.0011
  - name: filterSet
    value: SecurityAuditorView
  - name: reportFormat
    value: MODADWTC.xml

trigger:
  - none

jobs:
  - job: Fortify
    displayName: FortifyJob
    timeoutInMinutes: 180
    pool:
      vmImage: ubuntu-latest
    steps:
      - task: S3Download@1
        displayName: 'Download Fortify SCA installer from AWS S3'
        inputs:
          regionName: 'ap-northeast-1'
          bucketName: 'chtecommons'
          sourceFolder: 'fortify/installer'
          globExpressions: 'Fortify_SCA_and_Apps_${{ variables.fortifyVersion }}_linux_x64.run'
          targetFolder: '$(Agent.BuildDirectory)/s'
      - task: S3Download@1
        displayName: 'Download Fortify Tools installer from AWS S3'
        inputs:
          regionName: 'ap-northeast-1'
          bucketName: 'chtecommons'
          sourceFolder: 'fortify/installer'
          globExpressions: 'Fortify_Apps_and_Tools_${{ variables.fortifyVersion }}_linux_x64.run'
          targetFolder: '$(Agent.BuildDirectory)/s'
      - task: S3Download@1
        displayName: 'Download Fortify ExternalMetadata from AWS S3'
        inputs:
          regionName: 'ap-northeast-1'
          bucketName: 'chtecommons'
          sourceFolder: 'fortify/ExternalMetadata'
          globExpressions: 'ExternalMetadata_${{ variables.rulepackVersion }}.zip'
          targetFolder: '$(Agent.BuildDirectory)/s'
      - task: S3Download@1
        displayName: 'Download Fortify rulepack from AWS S3'
        inputs:
          regionName: 'ap-northeast-1'
          bucketName: 'chtecommons'
          sourceFolder: 'fortify/rules'
          globExpressions: 'rules_${{ variables.rulepackVersion }}.zip'
          targetFolder: '$(Agent.BuildDirectory)/s'
      - task: S3Download@1
        displayName: 'Download Fortify filterset from AWS S3'
        inputs:
          regionName: 'ap-northeast-1'
          bucketName: 'chtecommons'
          sourceFolder: 'fortify/filterset'
          globExpressions: 'defaulttemplate.xml'
          targetFolder: '$(Agent.BuildDirectory)/s'
      - task: S3Download@1
        displayName: 'Download Fortify report.template from AWS S3'
        inputs:
          regionName: 'ap-northeast-1'
          bucketName: 'chtecommons'
          sourceFolder: 'fortify/report.template'
          globExpressions: '${{ variables.reportFormat }}'
          targetFolder: '$(Agent.BuildDirectory)/s'
      - task: DownloadSecureFile@1
        displayName: '取出腳本'
        inputs:
          secureFile: 'aws.pipeline.zip'
      - task: CmdLine@2
        displayName: 'Fortify'
        inputs:
          script: |
            cp  $(Agent.BuildDirectory)/s/modadw.png /
            cp  $(Agent.BuildDirectory)/s/fortify/installer/* $(Agent.BuildDirectory)/s/fortify/ExternalMetadata/* $(Agent.BuildDirectory)/s/fortify/rules/* $(Agent.BuildDirectory)/s/fortify/filterset/* $(Agent.BuildDirectory)/s/fortify/report.template/* $(Agent.TempDirectory)/aws.pipeline.zip ${PWD}/
            unzip aws.pipeline.zip
            chmod +x aws.pipeline.start.sh
            ${PWD}/aws.pipeline.start.sh ${{ variables.projectName }} ${{ variables.sysCd }} ${{ variables.package }} ${{ variables.fortifyVersion }} ${{ variables.rulepackVersion }} ${{ variables.jdkVersion }} ${{ variables.filterSet }} ${{ variables.reportFormat }}
      - task: CopyFiles@2
        displayName: 取出報告
        inputs:
          Contents: |
            ${{ variables.projectName }}-$(Build.Repository.Name)-fortify-result.pdf
            ${{ variables.projectName }}-$(Build.Repository.Name)-fortify-result.fpr
          TargetFolder: '$(Build.ArtifactStagingDirectory)'
      - task: PublishBuildArtifacts@1
        displayName: 封存報告
        inputs:
          pathToPublish: $(Build.ArtifactStagingDirectory)
          artifactName: Fortify